@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: ('primary': ('base': #52BA87,
        ),
    ),
);
.el-input{
    --el-input-border-radius: 8px;
    // .el-input__inner{
    //     border: 2px var(--el-border-style) var(--el-border-color);
    // }
}

.el-select__wrapper{
    --el-border-radius-base:8px
}

.el-date-editor{
    --el-input-border-radius: 8px;
}

.el-button{
    --el-border-radius-base: 8px;
}

.el-form-item__label{
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 6px !important;
}

.el-menu{
    border-right:0 !important;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.el-menu-item,.el-sub-menu__title{
    border-radius: 10px;
    height: 50px !important;
    font-weight: 500 !important;
    padding:10px 0;
    span{
        font-size: 15px;
    }
}

.el-menu-item:hover,.el-sub-menu__title:hover {
    background-color: unset !important;
}

.el-menu .el-menu-item.is-active {
    background-color: #005F59 !important;
}

.el-pagination{
    .number , .btn-prev , .btn-next{
        border-radius: 8px;
    }
}
// .el-dialog,
// .el-message-box {
//     border-radius: 10px;
//     // width: 40vw;
// }

// .el-overlay {
//     background-color: rgba(0, 0, 0, 0.3);
// }

// .el-overlay-dialog {
//     background-color: rgba(0, 0, 0, 0.2);
// }